/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e6effc;
}

.cdk-overlay-container{
    .mat-select-panel{
      background-color: lightblue;
    }
    .mat-pseudo-checkbox{
      background-color: white;
    }

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
      color: white;
    }

    .mat-option-text{
      font-size: 18px;
    }
  
  //  .cdk-overlay-pane{
  //   top: 85px !important;
  //   left: 100px !important;
  // }
}

