.statistic-display-line {
  width: 700px;
  span {
    font-size: 20px;
    color: black;
  }

  span:last-child {
    float: right;
    margin-right: 50px;
  }
}

// span:nth-of-type(1){
//   padding-top: 30px;
// }
