<div class="left-content-1">
  <div class="left-content-header-1">
    <span> Statistics </span>
  </div>
  <div>
    <div class="select-statistic-field-container">
      <app-select-dropdown
        [dropdownLabel]="label"
        [fieldsList]="fieldsList"
        (selectedDrowpdownValue)="computeStatisticalFunctions($event)"
      >
      </app-select-dropdown>
    </div>
    <div
      *ngIf="!isLoadingStatistics; else loader"
      class="display-statistics-container"
    >
      <app-display-statistics [statistics]="statistics">
      </app-display-statistics>
    </div>
  </div>
</div>
<div class="right-content">
  <div class="right-content-header">
    <span> Charts </span>
  </div>
  <app-display-charts></app-display-charts>
</div>
<div class="left-content-2">
  <div class="left-content-header-2">
    <span> History </span>
    <div
      *ngIf="!isLoadingHistory; else loader"
      class="display-history-container"
    >
      <app-statistics-history [statisticsHistory]="statisticsHistory">
      </app-statistics-history>
    </div>
  </div>

  <ng-template #loader>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
