<div class="left-content">
  <div class="left-content-header">
    <span> Statistics </span>
  </div>
  <div class="select-statistic-field-container">
    <app-select-dropdown [dropdownLabel]="label"
                           [fieldsList]="fieldsList">
      </app-select-dropdown>
  </div>
  <div class="display-statistics-container">
    <app-display-statistics></app-display-statistics>
  </div>
</div>
<div class="right-content">
  <div class="right-content-header">
    <span> Charts </span>
  </div>
  <app-display-charts></app-display-charts>
</div>
