:host {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  //min-height: 200px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.error-message {
  color: red;
}
