<div class="display-statistics-container">
  <app-display-statistic-line
    statisticName="Mean"
    [statisticValue]="statistics.Mean"
    class="display-statistics-container"
  >
  </app-display-statistic-line>
  <app-display-statistic-line
    statisticName="StandardDeviation"
    [statisticValue]="statistics.StandardDeviation"
    class="display-statistics-container"
  >
  </app-display-statistic-line>
  <app-display-statistic-line
    statisticName="Variance"
    [statisticValue]="statistics.Variance"
    class="display-statistics-container"
  >
  </app-display-statistic-line>
  <app-display-statistic-line
    statisticName="StandardError"
    [statisticValue]="statistics.StandardError"
    class="display-statistics-container"
  >
  </app-display-statistic-line>
</div>
