:host{

  ::ng-deep{

    .mat-form-field{
    width: 350px;
    padding-top: 20px;
    padding-left: 60px;

    .mat-select-value-text{
      font-size: 20px;
    }
    .mat-form-field-label{
      font-size: 16px;
    }
   }
  }
}

::ng-deep{
  .mat-form-field.mat-focused .mat-form-field-label{
    color: white;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple{
    color: white;
    background-color: white;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: white;
  }
}
  
