<mat-form-field appearance="fill">
  <mat-label>Hospitals</mat-label>
  <mat-select [formControl]="hospitalsFormControl" multiple>
    <mat-select-trigger>
      {{ hospitalsFormControl.value ? hospitalsFormControl.value[0] : "" }}
      <span *ngIf="hospitalsFormControl.value?.length > 1"
            class="example-additional-selection">
        (+{{ hospitalsFormControl.value.length - 1 }}
        {{ hospitalsFormControl.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let hospital of hospitalsList" [value]="hospital">{{
      hospital
    }}</mat-option>
  </mat-select>
</mat-form-field>
